body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: white;
}

/* div needs to be locked in place on mobile... */
.sketch-holder{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: -45vw;
    margin-top: 3vh;
    margin-bottom: auto;
    height: 100%;
}
